.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.helperWrapper {
  height: 5rem;
  position: relative;
}

.fadesIn {
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  opacity: 1;
}

.fadesOut {
  position: absolute;
  opacity: 0;
}

.buttons {
  position: relative;
  display: flex;
  gap: 1rem;
}
