.toggleWrapper {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 4;
  left: 80px;
  top: 20px;
  width: 6rem;
  height: 3rem;
  border-radius: 8px;
}

.toggleButton {
  width: 50%;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
